*.
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log

.sass-cache

node_modules/
css/build/**
js/build/**

.DS_Store
 

*.dwsync.xml
 

*.log



wp-content/themes/mit-libraries-news/inc/_notes/dwsync.xml

wp-content/themes/mit-libraries-news/css/_notes/dwsync.xml

wp-content/themes/mit-libraries-news/_notes/dwsync.xml
